.post {
  width: 60%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0 1vmax 2vmax;
  margin: 2vmax;
}

.postHeader {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1vmax;
}
.postHeader > button {
  border-radius: 100%;
  color: rgba(0, 0, 0, 0.582);
}

.post > img {
  width: 100%;
}

.postDetails {
  display: flex;
  align-items: center;
  padding: 1vmax;
}

.postDetails img {
  width: 2vmax;
  color: gray;
  height: 2vmax;
  border-radius: 50%;
  margin-right: 1vmax;
}

.postDetails .text-gray-500 {
  flex-grow: 1;
}

.postFooter > button {
  color: rgba(0, 0, 0, 0.767);
  margin: 0 1vmax;
  border-radius: 100%;
  transition: all 0.3s;
}

.postFooter > button:hover {
  transform: translateY(-4px);
}

.postFooter > button > svg {
  font-size: 1.7vmax;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.commentForm {
  display: flex;
  margin: 1vmax;
}
.commentForm > input {
  width: 100%;
  padding: 1vmax 2vmax;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.288);
  border-radius: 30px 0 0 30px;
  font: 100 1vmax "Roboto", sans-serif;
}
.commentForm > button {
  border-radius: 0%;
}

@media screen and (max-width: 600px) {
  .post {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.068);
    padding: 0 0 4vw;
    margin: 0;
  }

  .postFooter > button > svg {
    font-size: 8vw;
  }
}
